<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <center>
        <table>
            <tr>
                <td width="130px">
                    <strong><a href="/">{{ title }}</a></strong>
                </td>
                <td width="100px">
                    <a href="/all-music">All Music</a>
                </td>
                <td width="100px">
                    <a href="/add-music">Add Music</a>
                </td>
            </tr>
        </table>
    </center>
    <hr>
    <center>
        <h1>{{ content }}</h1>
    </center>
</body>
</html>